/* CS290, Winter 2015 - Emmalee Jones, Assignment 3.2 */

#search {
    width: 100%;
}
.checkbox {
    float: left;
}
.pgs {
    float: right;
    margin-right: 50px;
}
.submit {
    float: right;
    margin-right: 10px;
}
label {
    display: block;
}

table {
    margin: 20px 0;    
}

td {
    padding: 5px;
}

h2 {
    font-weight: bold;
    color: green;
}

